html,
body {
  margin: 0;
  height: 100%;
  /* ADD A BACKGROUND COLOR TO ALL OF BODY? */
}

.specialistsShow {
  display: flex;
  color: black;
}

.specialistsShow img {
  max-width: 500px;
  margin: 25px;
}

.doctorImage {
  /* display: inline-block; */
  max-width: 40%;
}

.doctorsDetails {
  width: 66%;
  display: inline-block;
  margin: 10px;
}

h4 {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(127, 42, 174);
}

h2 {
  font-size: 40px;
  margin-top: 5px;
}

p:nth-child(even) {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-top: 5px;
  margin-right: 20px;
}

.scheduleBtn {
  float: right;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(127, 42, 174);
  color: white;
  font-weight: bold;
  -webkit-animation: flash linear 2s;
  animation: flash linear 2s;
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.specialistMap {
  max-width: 1000px;
}

.doctorInfo {
  margin: 25px;
  font-size: 40px;
}

.doctorInfo span {
  font-weight: bold;
  color: rgb(127, 42, 174);
}
